In [49]:
import pandas as pd
df = pd.read_csv('IPL_Final.csv')

In [50]:
df.tail()

,match_id,inning,batting_team,bowling_team,batsman_runs,extra_runs,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,Wickets,ball,Run_Rate,dl_applied,winner,win_by_runs,win_by_wickets,bat,bowl
1481,11413,2,14,1,165,5,4,1,0,0,0,7,124,8.225806,0,14,0,2,1,0
1482,11414,1,14,9,147,8,2,0,5,1,0,9,123,7.560976,0,9,0,6,0,1
1483,11414,2,9,14,151,11,6,0,5,0,0,4,116,8.379310,0,9,0,6,1,0
1484,11415,1,3,9,149,3,3,0,0,0,0,8,124,7.354839,0,3,1,0,1,0
1485,11415,2,9,3,148,9,4,5,0,0,0,7,124,7.596774,0,3,1,0,0,0

In [51]:
df.shape[0]

1486

In [52]:
Y=df[['winner']]
df.shape[0]
X_trian=df.loc[0:df.shape[0]-2, df.columns != 'winner']
X_test=df.loc[df.shape[0]-2:df.shape[0], df.columns != 'winner']
Y_trian=df.loc[0:df.shape[0]-2, df.columns == 'winner']
Y_test=df.loc[df.shape[0]-2:df.shape[0], df.columns == 'winner']

In [53]:
# from sklearn.model_selection import\
# train_test_split
# # Split Training and Testing Data
# X_train,X_test,Y_train,Y_test = \
# train_test_split(X,Y,test_size = 0.25,\
#                  random_state=1)

from sklearn.naive_bayes import GaussianNB
# Initialize a Naive Bayes Model
model = GaussianNB()
# P(A/B) = P(B/A) * P(A) / P(B)
X_train.shape
Y_train.shape
# Fit the model on given Data
model.fit(X_train,Y_train)

# model.class_prior_
# model.class_count_

# Predict using Naive Bayes Model
Y_predict = model.predict(X_test)

# from sklearn.metrics import\
# confusion_matrix,accuracy_score
# # Calculate Confusion Matrix
# cf_mat=confusion_matrix(Y_test,Y_predict)

# # Calculate Accuracy
# acc = accuracy_score(Y_test,Y_predict)

# #Print Results
# print("Confusion Matrix \n",cf_mat)
# print("Accuracy : ",acc)

/Users/phalgunvyas/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [54]:
print(Y_predict)

[14 14]

In [55]:
print(Y_test)

      winner
1484       3
1485       3

In [58]:
#decision tree classifier

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)
Y_predict=model.predict(X_test)
print(Y_predict)

[3 3]

In [59]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, Y_train)

#Predict the response for test dataset
Y_pred = clf.predict(X_test)

print(Y_pred)

/Users/phalgunvyas/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[14  1]

In [61]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier

# Import Support Vector Classifier
from sklearn.svm import SVC
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
svc=SVC(probability=True, kernel='linear')

# Create adaboost classifer object
model =AdaBoostClassifier(n_estimators=10, base_estimator=svc,learning_rate=1)
model.fit(X_train,Y_train)
Y_predict=model.predict(X_test)
print(Y_predict)

/Users/phalgunvyas/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[3 3]

In [62]:
num_trees = 30
seed=7
kfold = KFold(n_splits=10, random_state=seed)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
model =AdaBoostClassifier(n_estimators=10, base_estimator=svc,learning_rate=1)
model.fit(X_train,Y_train)
Y_predict=model.predict(X_test)
print(Y_predict)

/Users/phalgunvyas/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[3 3]